" Global settings,  global mappings placed at here


set ruler
set hlsearch
set incsearch
set history=999
set showmatch "bracket match hightlight
set cursorline
set showcmd " show command in normal mode on the right state line
set encoding=utf-8
set backspace=eol,start,indent "TODO remove or not
set pastetoggle=<F7>
nnoremap <F6> :se nu!<CR>

syntax on
filetype plugin indent on


